/** LAYOUT  **/
body {
  margin: 0 auto;
  padding: 3em;
  font-family: "Inter", sans-serif;
  font-family: "Karla", sans-serif;
  background-color: #0d0d0d;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

form > input,
form > button {
  display: block;
  text-align: center;
  padding: 0.6em 2em;
  border-radius: 6px;
  border: none;
  font-size: 1.1em;
}

/** TYPOGRAPHY **/

h1 {
  font-size: 2rem;
  color: #fff;
}

p {
  color: #bfbfbf;
}

hr {
  color: #f27e7e;
  width: 82vw;
  margin: 1em auto 2em;
  border: 1.5px solid #f27e7e;
  border-radius: 3px;
}

.passwords > input {
  padding: 0.7em 1.1em;
  margin: 1em;
  border: none;
  border-radius: 6px;
  text-align: center;
  background-color: #464646;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #f24b59;
}

button {
  background-color: #f27e7e;
  color: #fff;
  font-size: 16px;
  background-image: url("bolt.png");
  background-repeat: no-repeat;
  background-position: 20px;
  margin-bottom: 1em;
}

.dots > input {
  background-image: url("Icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f27e7e;
  color: #fff;
}

form > input {
  color: #f24b59;
  font-weight: 500;
  font-size: 1.1em;
}

form > button:hover {
  background-color: #464646;
  color: #f24b59;
  font-weight: 500;
}

.passwords > input:hover {
  background-color: #f27e7e;
  color: #fff;
}
