:root {
  --primary: #1f2937;
  --secondary: #10b981;
  --max-width: 960px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Karla", sans-serif;
  width: 100%;
}

#container {
  background-color: #1f2937;
  max-width: 1000px;
  height: 100%;
  text-align: center;
}

#mainTitle {
  font-weight: 800;
  font-size: clamp(3rem, 5vw, 200rem);
  line-height: 1.5em;
  color: #fff;
  padding-top: 118px;
}
#paragraph {
  color: #d5d4d8;
  padding-left: 52px;
  font-weight: lighter;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 51px;
}

#genBtn {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 47px;
  padding-right: 17px;
  background-color: var(--secondary);
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 1rem;
  font-style: medium;
  background-image: url("bolt.png");
  background-repeat: no-repeat;
  background-position: 20px;
  margin-bottom: 35px;
}

#length-el {
  border: none;
  border-radius: 6px;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 100px;
  text-align: center;
  margin-left: 10px;
  font-size: 16px;
  font-style: medium;
  color: #273549;
  font-weight: 400;
}

hr {
  color: #2f3e53;
  border-style: solid;
  width: 446px;
  margin-bottom: 35px;
}

.passwords {
  display: flex;
  flex-direction: column;
  margin-left: 52px;
  justify-content: center;
  align-items: center;
}

.passwords input {
  background-color: #273549;
  margin-bottom: 27px;
  width: 211px;
  height: 39px;
  border: none;
  border-radius: 6px;
  text-align: center;
  background-image: url("Icon.png");
  background-repeat: no-repeat;
  background-position: center;
  color: #55f991;
  font-size: 16px;
  line-height: 32px;
}
